<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abrenoch.hyperiongrabber.tv">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:banner="@drawable/banner"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NetworkScanActivity"
            android:exported="true"
            android:theme="@style/MyOnboardingTheme" />
        <activity
            android:name=".activities.ScanResultActivity"
            android:exported="true"/>
        <activity
            android:name=".activities.ManualSetupActivity"
            android:parentActivityName=".activities.MainActivity" />

    </application>

</manifest>