<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abrenoch.hyperiongrabber.mobile">

    <application
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name="com.abrenoch.hyperiongrabber.common.BootActivity"
            android:finishOnTaskLaunch ="true"
            android:noHistory="true"
            android:launchMode="singleInstance"
            android:clearTaskOnLaunch="true">
        </activity>

        <service
            android:name=".HyperionGrabberTileService"
            android:icon="@drawable/ic_notification_icon"
            android:label="@string/quick_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>

</manifest>