<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abrenoch.hyperiongrabber.common">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:versionCode="2004"
        android:versionName="ALPHA 3"
        tools:targetApi="lollipop">
        <service
            android:name=".HyperionScreenService"
            android:exported="false"
            android:launchMode="singleTask" />

        <receiver
            android:name=".HyperionGrabberBootReceiver"
            android:label="HyperionGrabberBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.NetworkScanActivity"></activity>
    </application>

</manifest>