<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abrenoch.hyperiongrabber.common">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="r">
        <service
            android:name=".HyperionScreenService"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.abrenoch.hyperiongrabber.common.HyperionScreenService" />
                <action android:name="com.abrenoch.hyperiongrabber.service.ACTION_START" />
                <action android:name="com.abrenoch.hyperiongrabber.service.ACTION_STOP" />
                <action android:name="com.abrenoch.hyperiongrabber.service.ACTION_STATUS" />
                <action android:name="com.abrenoch.hyperiongrabber.service.ACTION_EXIT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".HyperionGrabberBootReceiver"
            android:label="HyperionGrabberBootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".BootActivity" android:theme="@style/Theme.Transparent" android:exported="true"/>
    </application>

</manifest>